body {
    background-color: white;
    min-height: 100vh;
}

.section-titles {
    color: black;
}

.icon {
    position: relative;
    width: 300px;
}

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}


/* Navigation Bar */

nav {
    display: flex;
    position: relative sticky;
    justify-content: space-evenly;
    height: 4rem;
    padding: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

nav a, a:visited {
    margin: auto;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

.explore {
    display: flex;
    position: inherit;
    margin: auto;
    left: -11rem;
    font-size: 20px;
    justify-content: space-between;
}

input {
    padding: 5px;
    background-color: black;
    box-sizing: border-box;
    color: white;
}

:placeholder-shown {
    color: white;
}

input:focus {
    border-color: rgb(0, 150, 255);
    background-color: black;
    color: white;
    font-size: large;
    font-weight: 1000;
    border-width: 5px;
    box-decoration-break: none;
    outline: none;
}

#search-button {
    position: hidden;
}

#clear-button {
    background-color: inherit;
    color: white;
    text-decoration: underline;
    background-color: none;
    border: none;
    padding: 0.5rem;
}

.home-logo {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-around;
    background-color: none;
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: 150 px;
}

.nasa-logo {
    display: flex;
    position: relative;
    margin: auto;
    justify-content: space-around;
    background-color: black;
    color: white;
    font-weight: bold;
    left: -100px;
}

#nasa-logo {
    width: 4rem;
}

.links {
    display: flex;
    margin: auto;
    right: -7rem;
    justify-content: space-evenly;
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

#home-links a:hover {
    text-shadow: 3px 3px 2px rgb(71, 63, 56), 0 0 1em rosybrown, 0 0 0.2em darkolivegreen;
    font-size: 25px;
}

#nasa-links a:hover{
    color: white;
    text-shadow: 3px 3px 2px red, 0 0 1em blue, 0 0 0.2em blue;
    font-size: 25px;
}

/* Home Page */

#home-page {
    height: 100vh;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}

#rainy-video {
    position: relative;
    overflow: hidden;

    top: -1vh;
    width: 100%;
    height: 99.5vh;

}


.overlay {
    background-image: linear-gradient(to bottom right, rgba(164, 104, 104, 0), rgba(170, 127, 135, 0.694));
    opacity: 1;
    position: absolute;
    top: 7vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 98%;
    margin: 0;
    box-sizing: border-box;
    padding: 15%;
    line-height: 1;
    text-align: center;
    :last-child { margin-bottom: 0; }
    h1 {font-size: 32pt; font-weight: bold; text-shadow: 0 0 .3em #000; margin: 0 0 1em; z-index: 2;}
    p {font-size: 11pt;text-shadow: 0 0 .3em #000;margin: 1em 0; opacity: 1.0; z-index: 2;}
    a {color: #fff; opacity: 1.0; z-index: 2;}
}

#selfie {
    width: 500px;
    height: 500px;
    opacity: 1.0;
    z-index: 3;
}

.intro {
    display: flex;
    position: relative;
    text-align: center;
    z-index: 2;
    color: white;
}

#about {
    transform: translateY(-30px);
    
}

#icon-box {
    justify-items: center;
    align-content: space-between;
}


/* Muisc Player */

#music-icon {
    position: absolute;
    top: 9vh;
    bottom: 0;
    left: 3vw;
    right: 0;
    z-index: 3;
    width: 125x;
    height: 125px;
    border-radius: 50%;
    animation: gelatine 2s infinite;
}


#music-status {
    font-size: 20px;
    color:black;
    font-weight: 2000;
    text-decoration: dotted;
    position: absolute;
    top: 20vh;
    bottom: 0;
    left: 4.5vw;
    right: 0;
    z-index: 3;
    width:75px;
    height: 75px;
    text-shadow:  rgb(162, 115, 139);
}

@keyframes gelatine {
    from, to { transform: scale(1, 1); }
    25% { transform: scale(0.9, 1.1); }
    50% { transform: scale(1.1, 0.9); }
    75% { transform: scale(0.95, 1.05); }
}

#resume-icon {
    position: relative;
    width: 175px;
    height: 175px;
    border-radius: 50%;
    animation: hithere 7s ease infinite;
}

@keyframes hithere {
    30% { transform: scale(1.1); }
    40%, 60% { transform: rotate(-20deg) scale(1.2); }
    50% { transform: rotate(20deg) scale(1.2); }
    70% { transform: rotate(0deg) scale(1.2); }
    100% { transform: scale(1); }
}

.columns {
    display: flex;
    position: relative;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    background-color: white;
    color: black;
}

/* Projects */
#projects-page {
    height: 100vh;
    color: black;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}





/* Hobbies */

#hobboes-page {
    height: 100vh;
    background-color: white;
    color: black;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    animation: scroll 10s linear 1s infinite;
}






/* Astronomy Page  */

#nasa-page {
    height: 100vh;
    background-color: black;
    background-image: url("../resources/moon-pov-earth.jpg");
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    background-position: top;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
}

    h2 {
    font-weight: 40px;
    size: 40px;
    text-shadow:  rgb(162, 115, 139) 50px 0 20px;

}


#learn-button {
    position: inherit;
    margin: auto;
    background-color: red;
    color: white;
    border-radius: 10px;
    outline: none;
    border-width: 1px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

#learn-button:hover, #more-button:active {
    background-color: navy;
}

/* Footer */

.footer {
    display: flex;
    position: relative; 
    width: 100%;
    height: 150px;
    margin: auto;
    left: 0; 
    bottom: 0px;
    padding: 0px;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    text-align: center;
}

.footer-block {
    text-align: center;
    justify-items: stretch;
}


.socials-button {
height: 3rem;
}

/* Gallery Page */

#gallery-page {
    height: 100%;
    background-color: whitesmoke;
    color: black;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 10px;

    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}



#picture {
    max-width: 1000px;
    max-height: 1000px;
    border-color: black;
}

#pic {
    width: 500px;
    height: 500px;
}

#api-gallery {
    display: inline-block;
    align-content: space-between;
}

.api-img {
    float: left;
    width:  500px;
    height: 500px;
    object-fit: cover;
    align-content: space-between;
    background-color: black;
}

.api-img:hover {
    opacity: 0.7;
    box-shadow: red;
    box-shadow: #000;
    float: left;
    width:  525px;
    height: 525px;
}

#filter-sort {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#filter, #sort {
    display: flex;
}



/* Detailed  View*/

.detailed-img {
    position: relative;
    width: 100px;
    height: 100px;
}

/* The Modal (background) */
.modal {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


#details-button {
    all: unset;
}

.modal-content {
    background-color: #fefefe;
    color: black;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.arrow-buttons {
    
    top: 50vh;
    bottom: 0;
    margin: auto;
    z-index: 1;
    all: unset;
    font-size: 50px;
}

.arrow-buttons:hover {
    font-size: 70px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#explanation {
    color: midnightblue;
    width: 500px;
    height: 250px;
    overflow: scroll;
}

#explain {
    position: relative;
    margin: auto;
    align-items: center;
    width: 1000px;
    font-size: 20px;
    color: white;
    background-color: black;
}





/* No Match Page */

.nomatch-intro {
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
    display: block;
    font-weight: bolder;
    text-align: center;
    padding-top: 3px;
    align-content: center;
}

#nothing {
    height: 50vh;
    align-self: center;
}

/* Responsivenes */

@media screen and (max-width: 700px) {
    nav, nav a, nav input[type=text], .logo, .links {
    float: none;
    display: flex;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
}
